body{
    margin: 0;
    background-color: #0D0F0B;
}
*{
    font-family: "literata",sans-serif;
}
/* navigation menu */
main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    border: none;
}
.navigationmenu{
   position:fixed;
   background-color:#1A2500;
   z-index:2;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
}
.navigationmenu ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type:none;
  padding: 5px 10px;
  align-items: flex-start;
}
.navigationmenu h2{
    color:#A7C957;
}
.navigationmenu li{
    color:#C3C8BC;
}
.navigationmenulinks a{
    text-decoration:none;
    color: black;
}

.navigationmenutitle{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.navigationmenutitle span{
  cursor: pointer;
  color: white;
  
}
.navigationmenutitle span:hover,.resetpasswordinput button:hover{
    transform:scale(1.05);
}
.navmenubtn{
    display: flex;
    justify-content: center;
    padding-top: 15vh;
}
.navmenubtn button{
    width: 80vw;
    height: 52px;
    background-color:#A7C957;
    color: #1A2500;
    border-radius:20px;
    cursor:pointer;
}
.maincontainer{
    position:relative;
    z-index: 1;
}
/* home */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A2500;
    padding: 5px 10px;
}
.language{
    display: flex;
    align-items: center;
    gap: 5px;
}
.language img{
    display: flex;
    align-items: center;
    width: 32px;
    cursor: pointer;
}
.nav h2{
    color:#A7C957;
    cursor:pointer;
}
.nav h2>img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
}
.nav span{
    cursor:pointer;
    color: white;
}
.nav ul{
    display: none;
}
.navbtn{
    display:none;
}
.nav a{
    text-decoration:none;
    color: black;
}
.nav li{
    color:#C3C8BC;
    padding: 2px 4px;
}
.navperson{
    display: none;
}
.navperson p{
    color: white;
    cursor:pointer;
}
.navperson p:hover{
    color: lightgreen;
}
.isLink{
    border-bottom:2px solid #A7C957;
}
.presentation,.pricingpresentation{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color:#1A2500;
    gap: 20px;
}
.presentation h2,.presentation p,.howitworks h2{
    color:#E2E3DD;
}
.presentationbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap:10px;
}
.presentationbtn button{
    width:300px;
    height: 52px;
    border-radius:20px;
    background-color:#282A26;
    color: white;
    cursor:pointer;
}
.presentationbtn button:nth-child(1){
    background-color:#A7C957;
    color: #1A2500;
}
.presentationbtn button:nth-child(1):hover,.navmenubtn button:hover{
    transform:scale(1.05);
}

.presentationbtn button:nth-child(2):hover{
    background-color: #efded2;
}
.audiovisual{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 20px;
    
}
.audiovisual audio,.audiovisual canvas{
    border-radius:20px;
}

.howitworks{
    display: flex;
    text-align:center;
    flex-direction: column;
    background-color: #161814;
    border-radius: 20px;
    gap: 5px;
    
}
.howtocontent{
    display:flex;
    flex-direction: column;
    text-align: left;
    background-color:#A7C957;
    padding: 10px 20px;
    border-radius:24px;
}
.howtocontainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.howtocontent h2,.howtocontent p{
    color: #1A2500;
}
.howtocontent span{
    color:#2F4B00;
}
.howtocontentaudio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.howtocontentprompt{
    display: flex;
    background-color:#43483E;
    padding: 5px 10px;
    border-radius: 48px;

}
.howtocontentprompt p{
    color: white;
}
.quote{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color:#282A26;
}
.quote span{
    color:#43483E;
}
.quote p,h2{
    color:#E2E3DD;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #161814;
}
.footer h2{
    color:#A7C957;
}
.footerlinks{
    display: flex;
    justify-content: space-between;
}
.footersocials{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 5px;
}
.footersocials img{
    width: 24px;
}
.footersocials img:hover{
    transform:scale(1.05);
}
.footerlinks a{
    text-decoration:none;
    color: #C3C8BC;
}
.footer p{
    color:#C3C8BC;
}
/* pricing */
.pricingpresentation{
    background-color:#1A1C18;
}
.pricingpresentation h2,p{
    color:#E3E3DC;
}
.plans{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.plansdiscount{
    display: flex;
    justify-content:flex-end;
}
.plansdiscount p{
    color:#263500;
    background-color: #A7C957;
    padding:5px 10px;
    border-radius:16px;
}

.plan1 p,.plan2 p{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}
.plan1{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color:#1A1C18;
    border: 1px solid transparent;
    border-radius:32px;
    padding: 10px 20px;
}
.plan2{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color:#1E201C;
    border: 1px solid transparent;
    border-radius:32px;
    padding:10px 20px;
}
#proplan{
    color:#C2E570;
}
.plan1 ul,.plan2 ul{
    list-style-type: none;
}
.plan1 ul>li,.plan2 ul>li{
    display: flex;
    align-items: center;
    gap: 30px;
}
.plan1 button,.plan2 button{
    background-color: #1A1C18;
    color: #C2E570;
    border: 1px solid #C2E570;
    border-radius:20px;
    height: 44px;
    cursor:pointer;
}
#plansjoinnowbtn{
    background-color: #C2E570;
    color: #263500;

}
.plan1 button:hover{
    transform:scale(1.05);
    background-color: #40453b;
}
#plansjoinnowbtn:hover{
    background-color: #def1b1;
}
.plans img{
        width: 32px;
    }
.faq{
    display:flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 5px 10px;
}
.question{
    padding: 5px 10px;
    background-color: #2F312B;
    border-radius:32px;
}
.logintitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121410;
}
/* login */
.loginpictures{
    display: none;
}
.loginbody{
    background-color:#121410;
}
.logintitle h2{
    color:#C2E570;
}
.loginfooter{
    display: flex;
    align-items: center;
    background-color: #121410;
    height: 80vh;
    padding: 5px 10px;
}
.loginfooter a{
    color: #A0D3A5;
}
.loginform{
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap: 15px;
    padding: 10px 20px;
    background-color:#1E201C;
    border-radius:24px;
    margin-left: 5px;
    margin-right:5px;
   
}
.loginform label{
    color:#C5C9B4;
}
.loginform input{
    background-color: #292B26;
    color: #C5C9B4;
    width: 100%;
    height:52px;
    outline: none;
    border: none;
}
.loginform input:focus{
    outline:none;

}
.inputfield{
    display: flex;
    align-items: center;
}
.inputfield input{
     border-left: none;
     border-top-right-radius:48px;
     border-bottom-right-radius:48px;
}
.inputfield span{
    display: flex;
    border-left:2px solid black;
    border-top:2px solid black ;
    border-bottom:2px solid black;
    background-color:#292B26;
    height: 54px;
    align-items: center;
    border-top-left-radius:48px;
    border-bottom-left-radius:48px;
    color: #C4C8BD;
    border: none;
    
}
.passwordlabel{
    display: flex;
    justify-content: space-between;
}
.passwordlabel a{
    color:#C2E570;
}
.loginform button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C2E570;
    color: #263500;
    height: 52px;
    border-radius: 48px;
    cursor:pointer;
}
.loginform button:nth-of-type(2){
    display: flex;
    gap: 5px;
    background-color: #333531;
    color: white;
}
.loginform button:nth-of-type(2) img{
    width: 20px;
    height: 20px;
}
.loginform button:nth-of-type(1):hover{
    transform:scale(1.05);
}
.loginform button:nth-of-type(2):hover{
    background-color: #595d56;
}
.loginform p>a{
    color:#A0D3A5;
}
/* speech-to-text*/
.texttospeechmain{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.balance{
    display: flex;
    align-items: center;
    background-color:#292B26;
    padding: 5px 10px;
    
}
#chars{
    color:#A0D3A5;
}
.voice{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color:#232621;
    padding: 10px 20px;
    border-radius:48px;
    cursor:pointer;
}
.voice:hover{
    background-color:#595d56;

}
.selectvoices{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:#232621;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    padding: 5px 10px;
}
.selectvoicesexit{
    display:flex;
    justify-content: center;
    cursor:pointer;
}
.selectvoicesexit span{
    color: white;
}
.selectvoicestitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.selectvoicestitle span{
    cursor:pointer;
    color: white;
}
.selectedvoice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333531;
    border-radius:48px;
    padding:5px 10px;
}
.selectedvoice:hover{
    background-color: #595d56;
}
.prompt{
    display: flex;
    flex-direction:column;
    border: none;
    gap: 20px;
}
.promptdarijasetting{
    display: flex;
    align-items: center;
    gap: 5px;
}
.promptresult{
    display:flex;
    justify-content:space-between;
}
.promptresult a{
    text-decoration:none;
    color: white;
}
.promptresult a>button{
    display: flex;
    align-items: center;
    background-color: #46583C;
    color: white;
    padding: 5px 10px;
    border-radius:48px;
    cursor: pointer;
}
.prompt textarea{
   background-color:#232621;
   color: #C5C9B4;
   width: 80%;
   height: 20vh;
   border-radius: 48px;
   padding: 24px;
   resize:none;
}
.promptbtn{
    display: flex;
    gap: 15px;
}
.promptbtn button{
    display: flex;
    align-items: center;
    background-color:#C2E570;
    color: #263500;
    border-radius:48px;
    padding: 5px 10px;
    cursor:pointer;
}
.promptresult{
    display: flex;
    flex-direction:column;
    gap: 5px;
}
.promptbtn button:hover,.promptresult a>button:hover{
    transform:scale(1.05);
}
.selectedvoice{
    cursor:pointer;
    padding:10px 20px;
    overflow-y:auto;
}
.texttospeechparent{
    display: flex;
    flex-direction:column;
    gap:5px;
    position:relative;
}
.texttospeechchild{
    position:absolute;
    padding-top: 10px;
    top: 10vh;
    left: 0;
    width: 100%;
}
.isvoice{
    background-color: #91aa83;
}
.isvoice:hover{
    background-color: #91aa83;
}
.texttospeechlimited p{
    display: flex;
    justify-content: center;
    color:#263500;
    background-color: #A7C957;
    padding:5px 10px;
    border-radius:16px;
}
/* forgot password */
 .resetpasswordmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#1E201B;
    padding: 5px 10px;
    border-radius: 24px;
    height:100vh;

 }
.resetpasswordimg{
    display: none;
}
.resetpasswordinput{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#333530;
    padding: 10px 20px;
    gap: 20px;
    border-radius:48px;
}
.resetpasswordinput input{
    display: flex;
    width: 100%;
    height: 52px;
    background-color:#292B26;
    border: none;
    outline: none;
    color:#E2E3D8;
}
.resetpasswordinput button{
    display:flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height:52px;
    cursor:pointer;
    border-radius:48px;
    background-color:#C2E570;
    color:white;
}
.resetpasswordinput a{
    display: flex;
    align-items: center;
    color: #C2E570;
    text-decoration: none;
}
.resetpasswordinput a:hover{
    color:#bc7054
}
/* reset password */
.changepasswordmain{
    background-color:#333530;
    height:100vh;
    padding: 5px 10px;
}
.changepasswordmain h2{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}
.changepasswordform{
    display:flex;
    flex-direction:column;
    gap: 20px;
}
.changepasswordform label{
    color:#C4C8BB;
}
.changepasswordform input{
    height: 52px;
    width: 100%;
    border-left: none;
    border: none;
    background-color:#444839;
    border-top-right-radius: 32px;
    border-bottom-right-radius:32px;
    outline: none;
}
.changepasswordinput{
    display: flex;
    align-items: center;
}
.changepasswordinput span{
    display: flex;
    align-items: center;
    border: none;
    border-right:none;
    height: 54px;
    background-color:#444839;
    border-top-left-radius:32px;
    border-bottom-left-radius:32px;
    color: #C5C9B4;
    outline: none;
}
.changepasswordform button{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color:#C2E570;
    color:#263500;
    border-radius: 32px;
    height: 54px;
    cursor:pointer;
}
.changepasswordform a{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 5px;
    color: #C2E570;
    text-decoration:none;
    padding: 5px 10px;
}
.changepasswordform button:hover{
    transform:scale(1.02);
}
/* terms */
.termscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.terms{
    max-width:800px;
}
.terms li{
    color: white;
}
/* email verification notice */
.emailverificationnotice{
    display: flex;
    justify-content: center;
    background-color: #3E4A2C;
    padding: 5px 10px;
}
.emailverificationnotice p{
    color: #D9E7C1;

}
.emailverificationnotice a{
    color: lightgreen;
}
/* dashboard */
.userdashboardhero,.userdashboardsecurity{
    gap: 5px;
    padding: 5px 10px;
}
.userdashboardsecurity{
    display:flex;
    flex-direction:column;
    background-color:#1E201B;
    gap: 5px;
}
.userdashboardsecurity h2{
    display:flex;
    align-items:center;
    gap: 10px;
}
.userdashboardsecurity span{
    color:#A4D36E;
}
.userdashboardsecurity input{
    background-color:#1A1C18;
    height: 52px;
    width: 100%;
    border: none;
    padding: 1px 2px;
    color:#E2E3D8;
}
.userdashboardsecurityemail,.userdashboardsecuritypassword{
    display: flex;
    flex-direction: column;
    background-color:#1E201B;
    gap: 10px;
    padding: 5px 10px;
}
.userdashboardsecurityemail label,.userdashboardsecuritypassword label{
    color: #C5C8BA;
}
.userdashboardsecurityemail button,.userdashboardsecuritypassword button,#passwordchangecancel{
    background-color:#121410;
    height: 38px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 20px;
    cursor:pointer;
    color: #A4D36E;
}
.userdashboardsecurityemail button:hover{
    background-color:#383f32;
}
.userdashboardsecuritypassword button,.userdashboardchangeemail button:nth-of-type(1){
    background-color: #A4D36E;
    color: white;
    border: none;
}
.userdashboardsecuritypassword button:hover,.userdashboardchangeemail button:nth-of-type(1):hover{
    transform:scale(1.02);
}
.subscriptioncontainer{
    display:flex;
    flex-direction:column;
    gap: 10px;
}
.userdashboardsubscriptions{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color:#1E201B;
    
}
.userdashboardsubscriptions h2{
    display: flex;
    align-items: center;
    color: #A4D36E;
}
.userdashboardsubscriptions h2>span{
    text-align: center;
    color: #A4D36E;
}
.subscriptiontitle{
    display: flex;
    align-items: center;
    justify-content:space-between
}
.subscriptiontitle p{
    color:white;
    background-color:#404A30;
    border-radius:12px;
    padding: 5px 10px;
}
.userdashboardsubscription{
    background-color:#1A1C18;
    padding: 5px 10px;
}
.subscriptioncontent{
    display:flex;
    flex-direction: column;
}
.subscriptioncontent p{
    display: flex;
    text-align:center;
}
.userdashboardchangeemail{
    display: flex;
    gap: 10px;
    padding: 5px 10px;
}


@media (min-width:481px) and (max-width:768px){


}
@media (min-width:769px) and (max-width:1024px){
    .howtocontainer{
        display: flex;
        flex-direction:row;
        gap: 5px;
    }
     .plans{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
    }
    /* login */
     .loginbody{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .loginformcontainer{
        display: flex;
        justify-content: center;
    }
    /* text-to-speech */
      .balance{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #292B26;
    }
    #chars{
        color: #A0D3A5;
    }
    .texttospeechcontainer{
        display:flex;
        justify-content: center;
        gap: 20px;

    }
    .texttospeechparent{
        width: 60vw;
        
    }
    .voice{
        display: none;
    }
    .texttospeechchild{
        position:relative;
        width: 35vw;
    }
    .selectvoicesexit{
        display: none;
    }
    .selectvoicestitle span{
        display:none;
    }
    .prompt{
        border-radius: 24px;
        padding: 5px 10px;
        gap: 20px;
    }
    .promptbtn{
        justify-content: space-between;
    }
     /* reset-password */
    .resetpasswordmain{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color:#FFF8F4;
    
    }
    .resetpasswordimg{
        display:flex;
        width: 40vw;
    }
    .resetpasswordimg img{
        border-radius:48px;
    }
  
     /* change password */
    
   .changepasswordmain{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
   }
   .changepasswordhero{
    background-color: #1E201C;
    padding: 5px 10px;
    width: 40vw;
    border-radius:32px;
   }
   /* user dashboard */
   .userdashboardcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;

 }
 .userdashboardhero{
    display: flex;
    flex-direction: column;
    width: 70vw;

 }
 .userdashboardsecurity{
    width: 70vw;
    border-radius: 32px;
    padding: 10px 20px;
 }
 .userdashboardsubscriptions{
    width: 70vw;
    border-radius: 32px;
    padding: 10px 20px;
 }



    
    

}
@media (min-width:1025px){
   .nav{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    }
    .navperson span,.navbtn span{
        display: flex;
        align-items: center;
    }
     .navbtn img,.navperson img{
    width: 32px;
    cursor: pointer;
 }
    .language{
        display:none;
    }
   .nav ul{
    display: flex;
    list-style-type:none;
    justify-content: center;
    flex: 1;
    gap: 30px;
    }
    .nav li{
        cursor:pointer;
    }
    .nav li:hover,.footerlinks a>p:hover{
        transform:scale(1.15);
        background-color: #718d2d;
        border-radius: 5px;
    }
    .navbtn{
        display: flex;
        gap: 10px;
    }
    .nav button:nth-of-type(1){
        border: none;
        background-color: #1A2500;
        color: white;
        cursor:pointer;
    }
    .nav button:nth-of-type(2){
        background-color: #A7C957;
        color: white;
        width: 109px;
        height: 36px;
        border-radius:20px;
        cursor:pointer;
    }
    .nav button:nth-of-type(2):hover{
        transform:scale(1.10);
    }
    .navperson{
        display: flex;
        gap: 5px;
    }
    .presentation{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20vw;
        padding: 5px 10px;
        
    }
    .presentation p{
        max-width: 60ch;
    }
    .presentation audio{
        width: 30vw;
    }
    .presentation canvas{
        width: 30vw;
    }
    .presentationbtn{
        display:flex;
        flex-direction: row;
    }
    .presentationbtn button:nth-child(1){
        width: 168.59px;
        height: 56px;
    }
    .presentationbtn button:nth-child(1):hover{
        transform:scale(1.05);
    }
    .presentationbtn button:nth-child(2){
        width: 209.9px;
        height: 56px; 
    }
    .presentationbtn button:nth-child(2):hover{
        transform:scale(1.05);
        background-color:#3d3d3d;
    }
    .howtocontainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        padding: 10px 20px;
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px 5px 20px;
    }
    .footerlinks{
        gap: 20px;
    }
    
    /* pricing */
    .pricingpresentation p{
        max-width:80ch;
        margin: 0 auto;
        padding: 10px 20px;
    }
    .plans{
        display: flex;
        flex-direction:row;
        justify-content: center;
    }
    .question{
        width: 50vw;
        margin: 0 auto;
    }
    /* login */
    .loginbody{
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    .howtocontent p{
        max-width: 40vw;
    }
   
    /* text-to-speech */
    .balance{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #292B26;
    }
    #chars{
        color: #A0D3A5;
    }
    .texttospeechcontainer{
        display:flex;
        justify-content: center;
        gap: 20px;

    }
    .texttospeechparent{
        width: 50vw;
        
    }
    .voice{
        display: none;
    }
    .texttospeechchild{
        position:relative;
        width: 25vw;
    }
    .selectvoicesexit{
        display: none;
    }
   
    .selectvoicestitle span{
        display:none;
    }
    .prompt{
        border-radius: 24px;
        padding: 5px 10px;
        gap: 20px;
    }
    .promptbtn{
        justify-content: space-between;
    }
        /* reset-password */
    .resetpasswordmain{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
    }
    .resetpasswordimg{
        display:flex;
        width: 40vw;
    }
    .resetpasswordimg img{
        border-radius:48px;
    }
    /* change password */
   .changepasswordmain{
    display:flex;
    align-items: center;
    justify-content:center;
    gap: 0px;
   }
   .changepasswordhero{
    background-color: #1E201C;
    padding: 5px 10px;
    width: 40vw;
    border-radius:32px;
   }
   /*  user dashboard */
 .userdashboardcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;

 }
 .userdashboardhero{
    display: flex;
    flex-direction: column;
    width: 50vw;

 }
 .userdashboardsecurity{
    width: 50vw;
    border-radius: 32px;
    padding: 10px 20px;
 }
 .userdashboardsubscriptions{
    width: 50vw;
    border-radius: 32px;
    padding: 10px 20px;
 }
  
   
    
    

   
    }